<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    <!--spring mvc的配置文件-->
    <!--1注解的包-->
    <context:component-scan base-package="cn.bms.contrallor"></context:component-scan>

    <!--2注解方式mvc-->
    <mvc:annotation-driven/>

    <!--3配置视图解析器-->
    <!--页面前缀和页面后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/statics/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>


    <!--4配置文件上传所需配置-->
    <!-- id属性必须是这样的-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10240000"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>

    <!--5配置静态文件-->
    <!--配置到具体的静态文件-->
    <!--mapping是访问路径， location是本地具体路径-->
    <mvc:resources mapping="/statics/css/**" location="/statics/css/"></mvc:resources>
    <mvc:resources mapping="/statics/image/**" location="/statics/image/"></mvc:resources>
    <mvc:resources mapping="/statics/js/**" location="/statics/js/"></mvc:resources>
    <mvc:resources mapping="/statics/pages/**" location="/statics/pages/"></mvc:resources>


    <!--傅健 配置的静态文件-->
    <mvc:resources mapping="/admin_pages/css/**" location="/admin_pages/css/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/fonts/**" location="/admin_pages/fonts/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/html/**" location="/admin_pages/html/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/images/**" location="/admin_pages/images/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/images/pic/**" location="/admin_pages/images/pic/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/js/**" location="/admin_pages/js/"></mvc:resources>

    <mvc:resources mapping="/admin_pages/lib/layui/**" location="/admin_pages/lib/layui/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/lib/layui/css/**" location="/admin_pages/lib/layui/css/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/lib/layui/css/modules/**" location="/admin_pages/lib/layui/css/modules/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/lib/layui/css/modules/layer/**" location="/admin_pages/lib/layui/css/modules/layer/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/lib/layui/css/modules/layer/default/**" location="/admin_pages/lib/layui/css/modules/layer/default/"></mvc:resources>
    <mvc:resources mapping="/admin_pages/lib/layui/css/modules/laydate/default/**" location="/admin_pages/lib/layui/css/modules/laydate/default/"></mvc:resources>

    <mvc:resources mapping="/admin_pages/lib/layui/font/**" location="/admin_pages/lib/layui/font/"></mvc:resources>
    <!--傅健 配置的静态文件-->


</beans>
